apiVersion: v1
kind: Service
metadata:
  name: cache-service
spec:
  clusterIP: None # This creates a "headless" service, used for StatefulSets
  selector:
    app: cache # This service applies to any pod with the 'app: cache' label
  ports:
  - name: grpc
    port: 50051
    targetPort: 50051